 h1{
    color:rgb(9, 126, 106)
} 
*{
    border:solid;
}
  
.header{
    background-color: cadetblue;
    display:flex;
    justify-content: space-between;
}

.grid{
    display:flex;
    justify-content: space-evenly;
}

.footer{
    display:flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}